@font-face {
  font-family: "DL";
  src: url("dl.ttf");
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--black);
  background-image: url("http://localhost:3000/images/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
* {
  z-index: 100;
}
.SynthContainer {
  position: relative;
  padding: 21px 24px 24px;
}
h1 {
  font-family: "DL";
  margin: 0;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  color: var(--grey);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 36px;
}
h2 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: var(--grey);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 7px;
  margin-top: 9px;
}
.SelectWrapper {
  z-index: 2000;
  .Select {
    position: relative;
    .options {
      position: absolute;
      width: 100%;
      filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.25));
      .SelectItem {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        background: var(--light);
        border-radius: 48px;
        font-family: "Roboto Condensed";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: -0.04em;
        transition: 0.5s ease all;
        &:hover {
          background: var(--purple);
        }
      }
    }
    .currentValue {
      cursor: pointer;
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: -0.04em;
      margin: 0;
      padding: 0;
      color: var(--grey);
      height: 12px;
      text-transform: uppercase;
      z-index: 100;
      position: relative;
      margin-left: 8%;
      p {
        cursor: pointer;
        font-family: "Roboto Condensed";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: -0.04em;
        height: 12px;
        display: inline-block;
        text-decoration: underline;
      }
    }
  }
}
h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
  color: var(--grey);
  height: 12px;
  text-transform: uppercase;
  z-index: 100;
  position: relative;
  margin-left: 8%;
}
p {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: var(--black);
  max-width: 467px;
  margin: 0;
  height: fit-content;
}
.clickable {
  cursor: pointer;
  display: inline-block;
}
.EnvSettings {
  display: flex;
  flex-wrap: wrap;
  .SC_Slider {
    width: 50%;
  }
}
.pingPongSliders,
.distortionSliders,
.bitcrusherSliders,
.vibratoSliders {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.opened {
  max-height: 2000px;
  opacity: 1;
}
.closed {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
.o {
  transform: rotate(180deg);
}
.c {
  transform: rotate(0deg);
}
.glyph {
  font-size: 23px;
  margin-left: 2px;
  display: inline-block;
  transition: 1s ease all;
  padding-top: 1px;
}
.h {
  pointer-events: none;
  top: 0px;
  left: 0px;
  position: absolute;
  width: 1391px;
  height: 257px;
  background-image: url("http://localhost:3000/images/linesh.svg");
}
.a {
  pointer-events: none;
  top: -26px;
  left: 0px;
  position: absolute;
  width: 448.5px;
  height: 609px;
  background-image: url("http://localhost:3000/images/linesa.svg");
}
.b {
  pointer-events: none;
  top: -25px;
  left: 0px;
  position: absolute;
  width: 455px;
  height: 604px;
  background-image: url("http://localhost:3000/images/linesb.svg");
}
.r {
  pointer-events: none;
  top: -21px;
  left: 0px;
  position: absolute;
  width: 456px;
  height: 598px;
  background-image: url("http://localhost:3000/images/linesc.svg");
}
#PDView {
  pointer-events: none;
  display: flex;
  gap: 52%;
  position: absolute;
  top: 13px;
  width: 83.8%;
  left: 36px;
  h3 {
    display: none;
  }
  .SC_Slider {
    width: 100%;
    height: 8px;
  }
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: black;
    width: 100%;
    height: 1px;
    margin: 0;
    filter: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background: var(--grey);
    cursor: pointer;
    margin-top: -3px;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: var(--black);
    border-radius: 0px;
  }
}
@keyframes ui {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.WelcomeScreen {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HeaderShadow, .WelcomeShadow {
  position: relative;
  filter: drop-shadow(0px 8px 13px rgba(0, 0, 0, 0.25));
  z-index: 900;
  .SC_Button {
    position: absolute;
    top: -8.04px;
    right: -14.04px;
    z-index: 1000;
    background: url("http://localhost:3000/images/start.svg");
    background-size: contain;
    width: 330.07px;
    height: 330.07px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
    &:hover {
      transform: scale(1.005);
    }
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(-3px 5px 4px rgba(0, 0, 0, 0.25));
  }
  .toggleUIButton {
    position: absolute;
    top: -8.04px;
    right: -14.04px;
    z-index: 1000;
    background: url("http://localhost:3000/images/ui.svg");
    background-size: contain;
    width: 330.07px;
    height: 330.07px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
    &:hover {
      transform: scale(1.005);
    }
    animation: ui 3s ease-in-out 1s infinite;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(-3px 5px 4px rgba(0, 0, 0, 0.25));
  }
}
#WS {
  h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
    margin-left: 37%;
  }
  .MainText {
    margin-top: 3%;
  }
}
#a {
  top: -157px;
  left: 982px;
}
#b {
  left: -56px;
  top: -290px;
}
#c {
  left: -929px;
  top: 385px;
}
#d {
  left: 110px;
  top: 444px;
}
#e {
  left: 1148px;
  top: 520px;
}
.Bg {
  position: absolute;
  width: 1017px;
  height: 582px;
  background: radial-gradient(
    44.85% 63.32% at 50% 50%,
    rgba(169, 174, 168, 1),
    rgba(218, 222, 216, 0.88)
  );
  border: 1px solid rgba(202, 202, 200, 0.39);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  drop-shadow(-3px 5px 4px rgba(0, 0, 0, 0.25));
}
.WelcomeWrapper {
  cursor: pointer;
  transition: 0.4s all ease-in-out;
  &:hover {
    transform: scale(1.005);
  }
  width: 1391.95px;
  height: 275px;
  clip-path: url(#maskWelcome);
  -webkit-clip-path: url(#maskWelcome);
  background: radial-gradient(
    44.85% 63.32% at 50% 50%,
    rgba(169, 174, 168, 1),
    rgba(218, 222, 216, 0.99)
  );
  border: 1px solid rgba(202, 202, 200, 0.39);
  .DecText {
    margin-top: -1.8%;
  }
  .MainText {
    display: flex;
  }
  .Note {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 96.69%;
    letter-spacing: -0.04em;
    text-transform: lowercase;
    color: var(--black);
    margin-top: 3.3%;
    width: 166px;
  }
  h3 {
    display: inline-block;
    font-weight: 600;
    margin-left: 1.7%;
  }
  h3:nth-of-type(2) {
    margin-left: 14%;
  }
  h3:nth-of-type(3) {
    margin-left: 7.6%;
  }
  h1 {
    margin-right: 73px;
    text-align: left;
    margin-left: 24px;
    font-family: "DL";
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 106px;
  }
}
.HeaderWrapper {
  width: 1391.95px;
  height: 275px;
  clip-path: url(#maskHeader);
  -webkit-clip-path: url(#maskHeader);
  background: radial-gradient(
    44.85% 63.32% at 50% 50%,
    rgba(169, 174, 168, 1),
    rgba(218, 222, 216, 0.95)
  );
  border: 1px solid rgba(202, 202, 200, 0.39);
  .DecText {
    margin-top: -1.8%;
  }
  .MainText {
    display: flex;
  }
  .Note {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 96.69%;
    letter-spacing: -0.04em;
    text-transform: lowercase;
    color: var(--black);
    margin-top: 3.3%;
    width: 166px;
  }
  h3 {
    display: inline-block;
    font-weight: 600;
    margin-left: 1.7%;
  }
  h3:nth-of-type(2) {
    margin-left: 14%;
  }
  h3:nth-of-type(3) {
    margin-left: 7.6%;
  }
  h1 {
    margin-right: 73px;
    text-align: left;
    margin-left: 24px;
    font-family: "DL";
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 106px;
  }
}
.Decor {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: -0.04em;
  color: var(--grey);
  transform: rotate(-90deg);
  text-transform: uppercase;
  margin-left: -5px;
  margin-right: -4px;
  margin-top: auto;
  margin-bottom: 13px;
}
.SoundControllWrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 16px;
}
.silent {
  .SC_ToggleButton {
    background: var(--light);
    transform: rotate(0deg);
  }
}
.loud {
  .SC_ToggleButton {
    transform: rotate(180deg);
    background-color: var(--purple);
  }
}
.Channel {
  display: flex;
  align-items: flex-end;
  .SC_ToggleButton {
    cursor: pointer;
    transition: 1s all ease;
    width: 36px;
    height: 36px;
    filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.25));
    border-radius: 100%;
    flex-shrink: 0;
    background-size: 28px 28px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("http://localhost:3000/images/turnon.svg");
  }
  .active {
    background-color: var(--light) !important;
  }
}
.SC_Slider {
  width: 100%;
  height: 48px;
  h3 {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.04em;
    margin: 0;
    padding: 0;
    color: var(--grey);
    height: 12px;
    text-transform: uppercase;
    z-index: 100;
    position: relative;
    margin-left: 4%;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 4px solid var(--black);
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: transparent;
    cursor: pointer;
    margin-top: 3px;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.6;
    }
  }
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    width: 100%;
    height: 36px;
    margin: 0;
    filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.4));
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 36px;
    background: var(--light);
    border-radius: 30px;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 36px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.25));
  .SC_ToggleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 50%;
    height: 36px;
    background: var(--light);
    border-radius: 48px;
    cursor: pointer;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #222222;
    &:hover {
      background: var(--purple);
    }
  }
}
.Buttons {
  display: flex;
  flex-wrap: wrap;
  filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.25));
  .SC_ToggleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 50%;
    height: 36px;
    background: var(--light);
    border-radius: 48px;
    cursor: pointer;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #222222;
    &:hover {
      background: var(--purple);
    }
  }
}
.drumsBntSet {
  display: flex;
  flex-wrap: wrap;
  filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.25));
  .SC_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 50%;
    height: 36px;
    background: var(--light);
    border-radius: 48px;
    cursor: pointer;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--grey);
    &:hover {
      background: var(--purple);
    }
  }
}
.Container {
  width: 100%;
}
.left {
  height: 609px;
  width: 456px;
  clip-path: url(#maskRect1);
  -webkit-clip-path: url(#maskRect1);
  margin-top: -30px;
}
.middle {
  width: 448px;
  height: 609px;
  clip-path: url(#maskRect2);
  -webkit-clip-path: url(#maskRect2);
  margin-top: -30px;
}
.right {
  height: 609px;
  width: 456px;
  clip-path: url(#maskRect3);
  -webkit-clip-path: url(#maskRect3);
  margin-top: -3px;
  h1 {
    margin-top: 14px;
  }
}
.ModalShadow {
  position: relative;
  filter: drop-shadow(0px 8px 13px rgba(0, 0, 0, 0.25));
  max-height: 579px;
}
.Modal {
  overflow: hidden;
  background: radial-gradient(
    44.85% 63.32% at 50% 50%,
    rgba(169, 174, 168, 1),
    rgba(218, 222, 216, 0.93)
  );
  border: 1px solid rgba(202, 202, 200, 0.39);
}
svg {
  position: absolute;
  top: -104px;
  pointer-events: none;
}
.arrow {
  width: 9px;
  height: 9px;
  background: url("http://localhost:3000/images/arrow.svg");
  background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(90deg);
}
.SurfaceWrapper {
  display: flex;
  .LeftDecor {
    display: flex;
    margin-right: 2px;
    gap: 54px;
    flex-direction: column;
  }
  .Surface {
    width: 100%;
    height: 138px;
    position: relative;
    color: var(--light);
    background: var(--light);
    border-radius: 11px;
    filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.25));
    margin-right: 3px;
    .pointer {
      position: absolute;
      border: 4px solid var(--black);
      height: 22px;
      width: 22px;
      border-radius: 100%;
      background: transparent;
      cursor: pointer;
      top: -18px;
    }
  }
}
.instrumentUI {
  display: flex;
  gap: 14px;
}
.PresetsWrapper {
  display: flex;
}
.PresetsWrapper {
  width: 100%;
  .SC_ToggleButtonSet {
    width: 50%;
    .Buttons {
      width: 100%;
      display: flex;
      flex-direction: column;
      .SC_ToggleButton {
        width: 100%;
      }
    }
  }
}
.active {
  background-color: var(--grey) !important;
  color: var(--light) !important;
}
