:root {
    --black: #181818;
    --sec-circle: #565656;
    --bg: #5d5d5d;
    --top-line: #C5C5C5;
    --blue-light: #C1D0ED;
    --blue-dark: #5F77A4;
    --blue-disabled: #E0E8F6;
    --pink-light: #F4D4E8;
    --pink-dark: #00ff29;
    --pink-disabled: #F5E6F0;
    --green-light: #B2DFCE;
    --green-dark: #00ff29;
    --green-disabled: #CBE2D9;
  }
  